.App {
  text-align: center;
  font-size: var(--space-md)
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--space-xl);
  padding: 50px 50px;
}
